{
    "extends": [
      "wesbos"
    ],
    "rules": {
      "react/button-has-type": "off",
      "react/prop-types": "off",
      "jsx-a11y/label-has-associated-control": [ "error", {
        "required": {
          "some": [ "nesting", "id"  ]
        }
      }],
    }
  }